* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#particles {
    width: 100%;
    height: 100vh;
    text-align: center;
}
.introBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
h1 {
    font-family: 'Racing Sans One';
    font-size: 5rem;
    color: #fefefe;
    text-shadow: 4px 3px 6px #242427;
}
.Photo {
    padding-left: 2em;
}
.myPhoto {
    max-width: 80%;
    height: auto;
    border: 3px solid linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,121,1) 35%, rgba(0,212,255,1) 96%);
    border-radius: 50%;
}
.devBox {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color: #1dbaba;
    text-shadow: 4px 3px 6px #242427;
}
.typewrite {
    text-decoration: none;
}
canvas{
    background-image: linear-gradient(bottom, rgb(105,173,212) 0%, rgb(2, 12, 22) 84%);
    background-image: -o-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(32, 58, 73) 0%, rgb(1, 9, 17) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(14, 61, 87)),
        color-stop(0.84, rgb(9, 21, 32))
    );
}
.aboutSection {
    background: #fefefe;
}
#about {
    text-align: center;
    display: flex;
    justify-content: center;
}
.aboutContainer {
    margin-top: 2rem;
    padding: 3rem;
    background: #3c4a5d;
    border-radius: 6px;
    width: 80%;
    margin-bottom: 2rem;
    box-shadow: 0 3px 8px #242427;
}
hr.welcomeLine {
    width: 85%;
    margin: 0 auto;
        margin-bottom: 0px;
    border: 1px solid #fbd46c;
    border-radius: 8px;
    margin-bottom: 1.1rem;
}
#about p {
    font-family: Cambay;
    font-size: 1.2rem;
    color: #ffffff;
}
hr.sepLine {
    width: 85%;
    margin: 0 auto;
        margin-top: 0px;
    border: 1px solid #fbd46c;
    border-radius: 8px;
    margin-top: 1.1rem;
}
hr.btmSepLine {
    width: 85%;
    margin: 0 auto;
    border: 1px solid #fbd46c;
    border-radius: 8px;
}
.imgText {
    font-family: Cambay;
    font-size: 2rem;
    color: #28313e;
    text-align: center;
}
.imageLinks {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.wrapper {
    position: relative;
    width: 50%;
}
.imgProj {
    max-width: 30%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #fefefe;
}
.label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.mobImgLinks {
    display: none;
}
.float {
    bottom: 30px;
    width: 60px;
    background-color: #515151;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(3, 3, 3, 0.7);
    font-size: 32px;
    color: #1dbaba;
    text-align: center;
    margin: 0 auto;
    padding-top: 6px;
    position: fixed;
    right: 70px;
    bottom: 40px;
    z-index: 1000;
    height: 60px;
}
#projects {
    padding-bottom: 3rem;
}
.projectScreens {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2rem;
}
.projWrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: space-between;
    padding: 12px;
    background-color: #fefefe;
    border-radius: 5px;
    width: 375px;
    height: 280px;
    box-shadow: 0px 4px 10px rgba(3, 3, 3, 0.4), 0px -4px 10px rgba(3, 3, 3, 0.4);
}
.projImg {
    max-width: 350px;
    height: auto;
    border-radius: 5px;
}
.projText1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.proj {
    font-family: Cambay;
    font-size: 1rem;
}
.projText2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 10px;
}
#contact {
    display: flex;
    justify-content: center;
}
h3 {
    font-family: Georgia;
    font-size: 1.8rem;
    color: #1dbaba;
    text-shadow: 0 3px 2px #242427;
}
p.form-header {
    text-align: center;
    font-family: Comfortaa;
    font-size: 1rem;
    color: #fbd46c;
    padding-bottom: 1.2rem;
}
label {
    font-family: Georgia;
    font-size: 1.2rem;
    color: #1dbaba;
    padding: 8px 0 2px 0;
}
.contact-form {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.form-fields {
    display: flex;
    flex-direction: column;
}
.email-label {
    margin-top: 10px;
}
.form-text {
    display: flex;
    flex-direction: column;
}
.messageBox {
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 5px;
    width: 300px;
}
button[type="submit"] {
    background: #1dbaba;
    color: #030303;
    border-radius: 5px;
    font-family: Cambay;
    font-size: 1rem;
    border: none;
    width: 300px;
}
a#menu-share + ul {
    visibility: hidden;
}
ul.float-menu {
    bottom: 60px;
    position: fixed;
    right: 77px;
    padding-bottom: 40px;
    bottom: 65px;
    z-index: 100;
}
ul.float-menu li.float-list {
    list-style: none;
    margin-bottom: 10px;
}
ul.float-menu li.float-list a {
    background-color: #515151;
    color: #1dbaba;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(3, 3, 3, 0.6);
    width: 42px;
    height: 42px;
    display: block;
}
.footer {
    height: 45px;
    background: #3c4a5d;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer p {
    font-family: Georgia;
    font-size: 1em;
    color: #fbd46c;
}